/* .App {
   text-align: center;
}

body {
   background-color: #282c34;
   color: #e3e3e3;
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.navbar {
   width: 100%;
   height: 80px;
   background-color: #1b4674;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.navbar .links {
   text-align: center;
   margin-right: 50px;
}

.links a {
   color: #fff;
   text-decoration: none;
   border-bottom: 3px solid #fff;
   padding-bottom: 2px;
   margin: 10px;
}

.navbar .user {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 50px;
}

.user p {
   font-size: 15px;
   margin-right: 10px;
   color: white;
}
.user img {
   font-size: 15px;
   border-radius: 50%;
}

input,
textarea {
   font-family: 'Nunito', sans-serif;
}

.create-post {
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
}
form {
   margin-top: 50px;
   padding: 30px 20px;
   width: 320px;
   border-radius: 7px;
   background-color: white;
   backdrop-filter: blur(5px);
   background-color: #1b4674;
   overflow: hidden;
}

input,
textarea {
   padding: 8px 10px;
   margin: 3px 8px 16px 8px;
   background-color: rgba(222, 239, 248, 0.877);
   border: 0px transparent;
   border-radius: 5px;
   color: #1b4674;
   font-size: 16px;
   z-index: 1;
}

.submitForm:hover {
   cursor: pointer;
} */

:root {
   --clr-white: hsl(252, 30%, 100%);
   --clr-light: hsl(252, 30%, 95%);
   --clr-gray: hsl(252, 15%, 65%);
   --clr-primary: hsl(252, 75%, 60%);
   --clr-secondary: hsl(252, 100%, 90%);
   --clr-success: hsl(120, 95%, 65%);
   --clr-danger: hsl(0, 95%, 65%);
   --clr-dark: hsl(252, 30%, 17%);
   --clr-black: hsl(252, 30%, 10%);

   --border-radius: 2rem;
   --card-border-radius: 1rem;
   --btn-padding: 0.6rem 2rem;
   --search-padding: 0.6rem 1rem;
   --card-padding: 1rem;

   --sticky-top-left: 5.4rem;
   --sticky-top-right: -18rem;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   border: none;
   font: inherit;
   color: var(--clr-light);
}

body {
   font-family: 'Poppins', sans-serif;
   color: var(--clr-light);
   background-color: var(--clr-black);
   overflow-x: hidden;
}

/* GENERAL STYLES */
.container {
   width: 80%;
   margin: 0 auto;
}

.profile-photo {
   width: 2.7rem;
   aspect-ratio: 1/1;
   border-radius: 50%;
   overflow: hidden;
}

img {
   display: block;
   width: 100%;
}

.btn {
   display: inline-block;
   padding: var(--btn-padding);
   font-weight: 500;
   border-radius: var(--border-radius);
   cursor: pointer;
   transition: all 300ms ease;
   font-size: 0.9rem;
}

.btn:hover {
   opacity: 0.8;
   background-color: var(--clr-secondary);
}

.btn-primary {
   background-color: var(--clr-light);
   color: var(--clr-dark);
}

.btn-logout {
   padding: 0.2rem 0.4rem;
   background-color: var(--clr-danger);
}

.like-btn {
   background: transparent;
   cursor: pointer;
   transition: all 300ms ease;
}

.like-btn:hover {
   scale: 1.2;
}

.text-bold {
   font-weight: 500;
}

.text-muted {
   color: var(--clr-gray);
}

/* NAVBAR */
.navbar {
   width: 100%;
   background: var(--clr-dark);
   padding: 0.7rem 0;
   position: fixed;
   top: 0;
   z-index: 10;
}

.navbar .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.navbar .container .logo {
   font-weight: 500;
   font-size: 1.4rem;
}

.navbar .search-bar {
   background-color: var(--clr-light);
   border-radius: var(--border-radius);
   padding: var(--search-padding);
}

.navbar .search-bar .search-icon {
   display: flex;
   align-items: center;
}

.navbar .search-bar input[type='search'] {
   background: transparent;
   width: 30vw;
   margin-left: 1rem;
   font-size: 0.9rem;
   color: var(--clr-dark);
}

.navbar .search-bar input[type='search']::placeholder {
   color: var(--clr-gray);
}

.navbar .create {
   display: flex;
   align-items: center;
   gap: 2rem;
}

/* LOGIN */

.login {
   display: grid;
   place-items: center;
   margin-top: 6.4rem;
   margin-inline: auto;
   font-size: 1.8rem;
}

.login-btn {
   background: transparent;
   cursor: pointer;
   margin-top: 1.5rem;
}

/* MAIN */

.main {
   position: relative;
   top: 5.4rem;
}

main .container {
   display: grid;
   grid-template-columns: 23vh auto;
   column-gap: 2rem;
   position: relative;
}

/* LEFT */

main .container .left {
   height: max-content;
   position: sticky;
   top: var(--sticky-top-left);
}

main .container .left .profile {
   padding: var(--card-padding);
   background: var(--clr-dark);
   border-radius: var(--card-border-radius);
   display: flex;
   align-items: center;
   column-gap: 1rem;
   width: 100%;
}

main .container .left .profile-photo {
   min-width: 1.5rem;
}

/* SIDEBAR */

.left .sidebar {
   margin-top: 1rem;
   background-color: var(--clr-dark);
   border-radius: var(--card-border-radius);
}

.centered-icon {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.2rem;
}

.left .sidebar .menu-item {
   display: flex;
   align-items: center;
   height: 4rem;
   cursor: pointer;
   transition: all 300ms ease;
   position: relative;
}

.left .sidebar .menu-item:hover {
   background-color: var(--clr-primary);
   border-radius: var(--card-border-radius);
}

.left .sidebar .menu-item h3 {
   color: var(--clr-light);
   font-size: 1rem;
}

/* CREATE POST */
.create-post {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 5.4rem;
   background-color: var(--clr-dark);
   padding: 0.4rem var(--card-padding);
   border-radius: var(--border-radius);
}

.create-post__text {
   display: flex;
   flex-direction: column;
}

.create-post__title {
   border-bottom: 1px solid var(--clr-gray);
}

.create-post input[type='text'] {
   justify-self: start;
   width: 100%;
   padding-left: 1rem;
   background: transparent;
   color: var(--clr-light);
   margin-right: 1rem;
}

.create-post textarea {
   justify-self: start;
   width: 100%;
   padding-left: 1rem;
   background: transparent;
   color: var(--clr-light);
   margin-right: 1rem;
}

/* FEEDS */

.middle .feeds .feed {
   background-color: var(--clr-dark);
   border-radius: var(--card-border-radius);
   padding: var(--card-padding);
   margin: 1rem 0;
   font-size: 0.85rem;
   line-height: 1.5;
}

.middle .feed .head {
   display: flex;
   justify-content: space-between;
}

.middle .feed .user {
   display: flex;
   gap: 1rem;
}

.middle .feed .user h3 {
   color: var(--clr-gray);
}

.middle .feed .photo {
   border-radius: var(--card-border-radius);
   overflow: hidden;
   margin: 0.7rem 0;
}

.middle .feed .action-buttons {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.4rem;
   margin: 0.6rem;
}

.middle .caption h1 {
   font-weight: 500;
   font-size: 1.2rem;
   margin: 0.4rem;
}

.middle .liked-by {
   display: flex;
}

.middle .liked-by span {
   width: 1.4rem;
   height: 1.4rem;
   display: block;
   border-radius: 50%;
   overflow: hidden;
   border: 2px solid var(--clr-white);
   margin-left: -0.6rem;
}

.middle .liked-by span:first-child {
   margin: 0;
}

.middle .liked-by p {
   margin-left: 0.5rem;
}
